.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.buttons {
  margin-top: 2rem;
}

button {
  margin: 0 1rem;
  padding: 0.8rem 1.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background: #61dafb;
  color: #000;
}

button:hover {
  background: #21a1f1;
}